{#
//    ----------------------------------------
//      Status
//    ----------------------------------------
#}
<span class="status-tag st-{{entry.status|lower}}">{{entry.status|capitalize|t}}</span>
